@charset "UTF-8";
*{
    margin:0;
    padding:0;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}
div {
    text-align: center;
}
header .header_wrap {
	width : 100%;
}
header .header_wrap .gnb{
	width : 100%;
	height :30px;
}
header .gnb > ul {
    overflow: hidden;
    width:900px;
    margin : 0 auto;
}
header .gnb > ul > li{
    float:right;
    margin:0 19px;
    font-weight:bold;
}
header .gnb > ul > li> a{
    color:black;
}
.gnb ul li.mybag > ul li{
	position:relative;
	z-index: 99;
}
@font-face {
  font-family: "waver";
  src: url("../css/waver.ttf") format("truetype");
  font-weight: normal;
}
header .header_wrap .logo{
	width:100%;
	height : 400px;
	font-family: "waver";
	background-image: url('../cssImage/headerPic.jpg');
	opacity:0.7;
	z-index: -99;
}
header .header_wrap .logo > a{
	width : 100%;
	font-size:100px;
	line-height : 400px;
	color : black;
} 
header .header_wrap .lnb{
	width : 100%;
	height :20px;
	x-index : 1;
}
header .lnb > ul {
    overflow: hidden;
    width:100%;
    margin : 0 auto;
    padding: 10px 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: white ;
    opacity:0.7;
}
header .lnb > ul > li{
	line-height : 20px;
    float:left;
    margin:0 50px;
    font-size:16px;
    font-weight: bold;
}
header .lnb > ul > li:first-child{
	margin-left: 600px;
}
header .lnb > ul > li:last-child{
	margin-right: 600px;
}
header .lnb > ul > li> a{
    color:black;
}
