
fieldset {
    width: 300px;
    background-color: white;
}

td {
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px;
}

b {
    color: red;
}

table#submit {
    text-align: center;
    padding: 5px;
    width: 300px;
}

